<div class="row">
  <div class="col-md-12">
    <h3 class="page-header"><center> 
      <font size="6">Join a class</font>
    </center></h3>
  </div>
</div>

<% if @student.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <% @student.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<%= form_for @student do |form| %>
<div class = "container">
  <div class="row">
  	<div class="col-md-12">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Class</div>
        </div>     

        <div style="padding-top:5px" class="panel-body" >
        	<%= form.label :course_id %>
      	  <%= form.collection_select(:course_id, @courses, :id, :name, {}, {class: "form-control"})%>
   	                      
    	    <div style="margin-top:25px" class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-bloc">Submit</button>
    	    </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>