<h3 class="page-header">
  My Classes
  <span class="pull-right">
    <p>
      <% @course.homework.each do |homework| %>
      <%= link_to homework.name, homework_url(homework), method:  :patch, class: 'btn btn-sm btn-success' %></p>
  </span>
</h3>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= link_to student.course.name, student_url(student)%>
    </li>
  <% end %>
</ul>