<% if @school.errors.any? %>
  <div class = "alert alert-warning" role="alert">
  <% @school.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
  </div>
<% end %>

<%= render "form" %>