<h1><%=@course.name%> at <%=@course.school.name%></h1>
        
<h3>Available Tutors:</h3>
<% @course.tutors.each do |tutor| %>
  <p>
    <% if tutor.available %>
      <%=tutor.user.try(:name)%></p>
	<% end %>
  </p>
<%end%>

<p></p>
<h3>Available Students:</h3>
<% @course.students.each do |student| %>
	<p>
      <% if student.available %>
	  	<%=student.user.try(:name)%>
	  <% end %>
	</p>
<%end%>