<h1><%=@course.name%> at <%=@course.school.name%></h1>
        
<h3>Available Tutors:</h3>
<% @course.tutors.each do |tutor| %>
  <p>
    <% if tutor.available %>
      <%= link_to tutor.user.try(:name), tutor_url(tutor) %>
    <% end %>
  </p>
<%end%>