<h3 class="page-header">
  My Classes
  <span class="pull-right">
    <p>
      <% @course.homeworks.each do |homework| %>	
        <%if homework.active?%>
        <%= link_to homework.name, course_homework_url(@course, homework), method:  :patch, class:"btn btn-sm btn-primary"%>
        <%else%>
         <%= link_to homework.name, course_homework_url(@course, homework), method:  :patch, class:"btn btn-sm btn-default"%>
        <%end%>
      <% end %>
      <button type="button" class="btn btn-neutral"><%= link_to "Add Homework", new_course_homework_url(@course)%></button>
  </span>
</h3>


